*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/gradle
gradlew
gradlew.bat
settings.gradle
/app/build.gradle
/app/proguard-rules.pro
/app/src/androidTest
/app/src/test
gradle.properties
build.gradle
